/* Base styles for larger screens (like laptops) */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color:  #3B82F6; /* Original background color for larger screens */
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.logo img {
  height: 50px;
  border-radius: 50%;
  
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}

.nav-links li {
  margin: 0 15px;
  color: white;
  cursor: pointer;
}

.nav-links li:hover {
  text-decoration: underline;
}

.nav-button {
  padding: 8px 16px;
  background-color: #e41919;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #fa0909;
  cursor: pointer;
}

.menu-bar {
  display: none;
}

/* Responsive design for smaller screens (like iPhones) */
@media (max-width: 600px) {
  .navbar {
    position: relative;
    background-color: #3B82F6; /* Blue-500 equivalent */
  }

  /* Hide the navigation links by default on small screens */
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #3B82F6; /* Blue-500 equivalent */
    justify-content: center; /* Centered vertically */
    align-items: flex-start; /* Align to left */
    height: auto;
    border-radius: 5px;
    padding: 10px;
  }

  /* Show the nav links when the bar is clicked */
  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin-top: 10px; /* Adjusted margin for vertical layout */
    color: white;
  }

  .nav-links li:hover {
    color: #45a049; /* Change color on hover */
  }

  .menu-bar {
    display: block;
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
}
